# Assigning different types of data to a variable

In [1]:
x = 3
print(type(x))      # type(variable) gives the type of that data. Here 3 is "int" type (integer)

<class 'int'>

In [2]:
a = -2
print(type(a))

<class 'int'>

In [3]:
B = 4234.24
print(type(B))

<class 'float'>

In [4]:
c = -342.45
print(type(c))

<class 'float'>

In [5]:
# same variable name can be used in different cells.
c = 2 + 3j
print(type(c))

<class 'complex'>

In [6]:
comp = -5 + 36j
print(type(comp))

<class 'complex'>

In [7]:
a = 4
b = 10 
c = a < b      # gives output as "True" or "False". This is boolean type
print(c)
print(type(c))

True
<class 'bool'>

# Strings

In [8]:
# Anything inside the quotes is called as a "String"
a = "Dev Incept"
print(type(a))

<class 'str'>

In [9]:
a = ' '
print(type(a))  # Even though, we didn't mention anything inside quotes it is considered as a string

<class 'str'>

In [10]:
a = "-4"     # Even though it is an integer value, the value is inside the quotes so this is a "string"
print(type(a))

<class 'str'>

# Operations with strings

In [11]:
name = "Dev Incept "
print(name[0])

D

In [12]:
name = "Dev Incept"
print(name[0 : 3])

Dev

In [13]:
name = "Dev Incept"
print(name[2 : ])     # not mentioning ending index,means it prints from starting index mentioned to the end of the string.

v Incept

In [14]:
name = "Dev Incept"
name.upper()

'DEV INCEPT'

In [15]:
name = "Dev Incept"
name.lower()

'dev incept'

In [16]:
# splitting at the space
name = "Dev Incept" 
print(name.split())

# splitting at "n"
print(name.split('n'))

['Dev', 'Incept']
['Dev I', 'cept']

In [17]:
name = "Dev Incept"
print(name[:])      # not assigning starting and ending index gives the "Full string"

Dev Incept

In [18]:
name = "Dev Incept" 
name.replace("D" , "M")          # replace("which element you want to replace" , "What element you want")

'Mev Incept'

In [19]:
name = "Dev Incept"
another_name = " Rocks"
print(name + another_name)

Dev Incept Rocks

In [20]:
name = "Dev Incept " 
print(name * 2)

Dev Incept Dev Incept

In [21]:
name = "Dev Incept"
print(len(name))            # gives the length of the string 
                            # NOTE : Spaces are also considered

10

In [22]:
name = "Dev Incept" 
print(name[-1])           # "-1" means the last letter of the string

t

In [23]:
name = "Dev Incept" 
print(name[-4 : -1])

cep

In [24]:
name = "Dev Incept"
print(name[::-1])      # PRINTS THE REVERSE OF THE STRING

tpecnI veD

# Type Conversions

In [25]:
x = 5 
y = float(x)        # converting integer to a float
print(y)

5.0

In [26]:
x = 4.34
y = int(x)         # converting float to int 
print(y)

4

In [27]:
x = 0
y = bool(x)        # converting int to boolean
print(y)

False

In [28]:
x = int(True)         # converting boolean to int 
print(x)
print(type(x))

#===============OR=============

a = True
b = float(a)          # converting bool to float
print(b)
print(type(b))

1
<class 'int'>
1.0
<class 'float'>

In [29]:
# int(a , base)

a = "1001"
print(int(a,2))       # converting binary number to integer

print(int(a,10))      # converting binary number to decimal value

print(int(a,16))      # converting binary number to hexadecimal value

9
1001
4097

In [30]:
num = 45
print(hex(num))     # converting num to hexadecimal
print(oct(num))     # converting num to ocatal

0x2d
0o55

# Operation on different types

***Arithemetic Operators***

In [31]:
x = 10 
y = 20

print("Addition : ",x + y)
print("Subtraction : ",x - y)
print("Multiplication : ",x * y) 
print("Divivsion : ",x / y)
print("Modulus : ",x % y)
print("Floor division : ",x // y)
print("Exponential : ",x ** y)

Addition :  30
Subtraction :  -10
Multiplication :  200
Divivsion :  0.5
Modulus :  10
Floor division :  0
Exponential :  100000000000000000000

***Comparison Operators***

In [32]:
x = 10 
y = 20 

print("x = y :", x == y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)
print("x != y :", x != y)     # not equal to

x = y : False
x < y : True
x > y : False
x <= y : True
x >= y : False
x != y : True

***Logical Operators***

In [33]:
x = 10

print("AND :",x > 5 and x < 10)        # Both conditions True --> output will be True , or else False
print("OR :",x > 5 or x < 10)         # Any one condition is True --> output will be True , or else False
print("NAND :",not(x >5 and x < 10))    # opposite to AND i.e, NAND 
print("NOR : ",not(x > 5 or x < 10) )   # opposite to OR i.e, NOR

AND : False
OR : True
NAND : True
NOR :  False

***Bitwise Operators***

In [35]:
# These operators are used to compare  Binary numbers
x = 1001
y = 1000

print("x AND y is :",x & y)
print("x OR y is :",x | y)
print("x XOR y is :",x ^ y)
print("NOT y is :", ~ y)

x AND y is : 1000
x OR y is : 1001
x XOR y is : 1
NOT y is : -1001